.app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.chat-widget-opener {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 50px;
}

.chakra-modal__content,
.css-xfd71j {
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
}

.css-1ujdiya {
  overflow: hidden !important;
}

.css-9ilu2d {
  border-radius: 5px !important;
}

.sound-wave {
  display: none;
}

.sendButton {
  max-width: 95px;
}

.chakraHeader {
  background-color: #90cdf4 !important;
  border-radius: 5px;
}

.chakraBody {
  padding: 10px 0 10px 0 !important;
}

.chatIcon {
  max-width: 130px;
  cursor: pointer;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.chatOpen {
  margin-bottom: 160px !important;
}

.css-1x6yq3l {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.css-1hzyiq5{
  margin: 0 !important;
}
