/* .app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.chat-widget-opener {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 50px;
} */

.chat-widget-opener {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  z-index: 2;
}

.chakra-modal__content-container,
.css-g33wz1,
.css-g33wz1 {
  z-index: 1 !important;
}

.chakra-modal__content,
.css-xfd71j {
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
  max-width: 370px !important;
  margin-bottom: 90px !important;
  margin-right: 30px !important;
  z-index: 1 !important;
}

.css-1ujdiya {
  overflow: hidden !important;
}

.css-9ilu2d {
  border-radius: 5px !important;
}

.sound-wave {
  display: none;
}

.sendButton {
  max-width: 95px;
}

.chakraHeader {
  background-color: #65151e !important;
  border-radius: 5px;
}

.chakraBody {
  padding: 10px 0 10px 0 !important;
}

.chatIcon {
  max-width: 56px;
  height: 56px;
  cursor: pointer;
  /* background: #65151e;
  color: white;
  border-radius: 51px; */
}

.activeChatIcon {
  max-width: 28px;
  height: 28px;
  cursor: pointer;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.chatOpen {
  margin-bottom: 90px !important;
}

.css-1x6yq3l {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.css-1hzyiq5 {
  margin: 0 !important;
}

.css-sf3w23,
.css-1owj60u {
  max-width: 300px !important;
  white-space: break-spaces !important;
}

.modal-close{
  display: none !important;
}

@media screen and (max-width: 400px) {
  .chakra-modal__content,
  .css-xfd71j {
    max-width: auto !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    /* z-index: 5 !important; */
  }
  .chat-widget-opener {
    z-index: 1;
  }
  .modal-close{
    display:flex !important;
  }
}

